.meal{
   border-radius: 15px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   -ms-border-radius: 15px;
   -o-border-radius: 15px;
   border: 1px solid #ddd;
   box-shadow: 1px 1px 14px rgba(255, 200, 200, 0.571);
   text-transform: capitalize;
   height: 380px;
   position: relative;
}
.meal h4{
   margin: 5px 0px;
}
.meal p{
  margin: 0px 0px;
}
.meal p a{
   text-decoration: none;
   color: #000; 
   font-weight: bold;
}

.addToMenu{
   background: orange;
   border: none;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 15px 20px;
   width: 100%;
   position: absolute;
   bottom: 0;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
   font-weight: 700;
   color: #fff;
   text-transform: uppercase;
   transition:0.5s all ease-in-out ;
   -webkit-transition:0.5s all ease-in-out ;
   -moz-transition:0.5s all ease-in-out ;
   -ms-transition:0.5s all ease-in-out ;
   -o-transition:0.5s all ease-in-out ;
}

.addToMenu:hover{
   background:purple;
}